---
name: EmailReminder
---

SunnySideUp\EmailReminder\Api\EmailReminderEmogrifier:
  css_file: 'vendor/sunnysideup/email_reminder/client/css/example.css'
SunnySideUp\EmailReminder\Api\EmailReminderMailOut:
  always_send_to:
    - a@b.com
SunnySideUp\EmailReminder\Api\EmailReminderMailOut:
  template: Sunnysideup/EmailReminder/Email/EmailReminderStandardTemplate
